@media (max-width: 600px) {
  /* Styles for mobile screens */
}

@media (min-width: 600px) and (max-width: 1024px) {
  /* Styles for tablets */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  background-color: #5705aa;
  margin: auto; 
  padding: 10px;
}

.item {
  background-color: #7e08f3;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
}

.item p {
  text-align: center;
  display: flex;
  align-items: center;
}

div {
    border: 1px solid #000000;
    padding: 35px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    background-color:#07ec41;
} 

nav{
    padding: 25px;
    text-align: center;
    background-color: #07ec41; 

}

header{
padding: 25px;
text-align: center;
background-color: #07ec41; 
}

h3 {
padding: 25px;
text-align: center;
} 

p { 
padding: 30px;
text-align: center;
}


body {
background-color: #07ec41;
}

.navbar-brand {
  position: absolute;
  top: 8px;
  margin: 0 auto;
}
